extends layout

block content
  h1= title
  p Welcome to #{title}

  if user
    p Welcome, #{user.first_name}
    p
      a(href="/users/join") Join Club
    p
      a(href="/messages/new") Create New Message
    p
      a(href="/auth/log-out") Log Out
  else
    p
      a(href="/auth/sign-up") Sign Up
    p
      a(href="/auth/log-in") Log In
  ul
    each message in messages
      li= message.title
      p= message.text
      if user && user.isMember
        p= `By: ${message.author.username}`
        p= `Date: ${message.createdAt}`
      else
        p Author: Hidden
        p Date: Hidden
